#nav-wrap{
    background-color: #609DA0;
}
.nav-link {
    color: white;
    font-family: sans-serif;


}
nav {
    color: black;
    background: teal;
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 20px;
    height: 80px;
}
.navbar-brand {
    color: black;
}
img {
    height: 50px;
    width: 50px;
}
 .navbar-title {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;

}

